{
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread"
  ],
  "presets": [
    "env",
    "es2015"
  ],
  "env": {
    "production": {
      "presets": [
        "babili"
      ]
    }
  }
} 